<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cy.AlexandrosGavriel.notificationReplier">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="cy.AlexandrosGavriel.notificationReplier.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationReplier">
        <activity android:name="cy.AlexandrosGavriel.notificationReplier.SettingsActivity"
            android:parentActivityName="cy.AlexandrosGavriel.notificationReplier.MainActivity" />
        <activity
            android:name="cy.AlexandrosGavriel.notificationReplier.LoginActivity"
            android:parentActivityName="cy.AlexandrosGavriel.notificationReplier.RegisterActivity" />
        <activity android:name="cy.AlexandrosGavriel.notificationReplier.MainActivity" />
        <activity android:name="cy.AlexandrosGavriel.notificationReplier.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="cy.AlexandrosGavriel.notificationReplier.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="cy.AlexandrosGavriel.notificationReplier.NotificationPack.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="cy.AlexandrosGavriel.notificationReplier.BackgroundService" />
    </application>

</manifest>